
.navbar{
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: rgb(255, 255, 255);
  background-color: #353232;
}

nav .navTitle{
  font-size: 1.5rem;
  font-weight: 900;
  padding: 20px;
  cursor: pointer;
}

nav .navTitle span{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

